	<h3>Gestion des actionneurs :</h3>
	<br>
	<table id="table_actionneurs" class="table table-bordered table-hover table-striped">
		<thead>
			<tr id="search">
				<th style="width:10%">Details</th>
				<th>Espace</th>
				<th>Numero</th>
				<th>Etat</th>
				<th style="width:10%"> </th>
			</tr> 
		</thead>					  
		<tbody id="actionneurs">	
		{% for act in actionneurs %}
				<tr id="{{ act.id }}" etat="{{ act.etat }}">
					  <td class="text-center"> <span class="badge"> <span onclick="fnDetails(this);" class="glyphicon glyphicon-plus"></span> </span> </td>
					  <td>{{ act.idEspace.id }}</td>
					  <td> {{ act.numero }}</td>
					  <td> {% if act.etat == 1%} ON {% else %} OFF {% endif %}</td>
					  <td> <a type="button" class="btn btn-danger btn-sm" href="/ghome/site/web/app_dev.php/deleteActionneur?idActionneur={{act.id}}">Suppr</a></td>
				</tr>	
		{% endfor %}
		</tbody>
	</table>

	<p class="text-right">
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Ajout Actionneur
		</button>
	</p>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Ajouter un actionneur</h4>
				</div>
					<div class="modal-body">
						{{ form(form) }}

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>	
		
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
		<script type="text/javascript">
		console.log("tutu");
			$(function() {
				var table = $('#table_actionneurs').dataTable({
					"sDom": "<'row'<'col-md-4'l><'col-md-4'f>r>t<'row'<'col-md-4'i><'col-md-4'p>>"
				});
			});
			
			function fnFormatDetails ( id, etat )
			{
				var sOut = '';

				if(etat==0){
					sOut+='<a style="width:30%" type="button" class="btn btn-success" href="/ghome/site/web/app_dev.php/actionneurState?idActionneur='+id+'&currentState='+etat+'">On</a> ';
				} else {
					sOut+= '<a style="width:30%" type="button" class="btn btn-danger"  href="/ghome/site/web/app_dev.php/actionneurState?idActionneur='+id+'&currentState='+etat+'">Off</a>';
				}
				return sOut;
			}

    		function fnDetails(element) 
    		{
				var nTr = element.parentNode.parentNode.parentNode;
				if ( element.className == 'glyphicon glyphicon-minus' )
				{
					/* This row is already open - close it */
					element.className="glyphicon glyphicon-plus";
					table.fnClose( nTr );
				}
				else
				{
					/* Open this row */
					element.className="glyphicon glyphicon-minus";
					table.fnOpen( nTr, fnFormatDetails(nTr.id, nTr.getAttribute('etat')), 'details text-center' );
				}
			}	

		</script>