<h3>Gestion des espaces : </h3>
<br>

	<table id="table_spaces" class="table table-bordered table-hover table-striped">
		<thead>
			<tr id="search">
				<th>Nom</th>
				<th>Description</th>
				<th> </th>
			</tr> 
		</thead>					  
		<tbody id="spaces">	
		{% for sp in spaces %}
				<tr id="{{ sp.id }}">
					  <td>{{ sp.nom }}</td>
					  <td>{{ sp.description }}</td>
					  <td style="width:10%"> <a type="button" class="btn btn-danger btn-sm" href="/ghome/site/web/app_dev.php/deleteSpace/{{sp.id}}">Suppr</a></td>
				</tr>	
		{% endfor %}
		</tbody>
	</table>

	<p class="text-right">
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			Ajout Espace
		</button>
	</p>
	

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Ajouter un espace</h4>
				</div>
					<div class="modal-body">
												{{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}
						{{ form_row(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
						{{ form_row(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description'} }) }}
						<button type="submit" class="btn btn-default">Ajouter</button>
						{{ form_end(form) }}

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
    		$(function() {
				$('#table_spaces').dataTable( {
					"sDom": "<'row'<'col-md-4'l><'col-md-4'f>r>t<'row'<'col-md-4'i><'col-md-4'p>>"
				} );
			});
		</script>